* {
   box-sizing: border-box;
}

body {
	background-image: url(backgr.jpg);
}

input {
	margin: 5px 0;
}

form {
	background-color: #ddd;
	max-width: 800px;
	margin: 10px auto;
	padding: 10px;
	box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.5);
	border-radius: 40px;
}
header {
color: #ddd;
}
